include CHANGES.rst LICENSE README.rst erppeek.ini
recursive-include docs *
recursive-include tests *
recursive-exclude docs *.pyc
recursive-exclude docs *.pyo
recursive-exclude tests *.pyc
recursive-exclude tests *.pyo
prune docs/_build
